﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To The VetShop</h1>
    <p class="lead">The VetShop takes care of your animals</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>
            Login to use our services
        </p>
        <p><a class="btn btn-default" href="/login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See our Services</h2>
        <p>Here is the our list of animal service</p>
        <p><a class="btn btn-default" href="/clientservice">Our Services &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Book an appointment</h2>
        <p>Book an appointment with us. What's animals would choose</p>
        <p><a class="btn btn-default" href="/booking">Book Now &raquo;</a></p>
    </div>
</div>