﻿@{
    ViewBag.Title = "Login Failed";
}

<h2>@ViewBag.Title  </h2>

<br />  <br />
<h4>
    I am afraid that combination loginID/password were not found correct. <br />  <br />
    Please call us on 212-555-3434 to create account!
</h4>
<br />  <br />

<p><a class="btn btn-default" href="/login">Login &raquo;</a></p>
