﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyVetShop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="@Url.Content("~/Content/Images/vetshoplogo.png")" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
     
        <div class="container">
           
            <div class="navbar-header">
               
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href='@Url.Action("index", "home")'>
                    <img src='@Url.Content("~/Content/Images/vetshoplogo.png")' width="50" height="50" />
                </a>

                
                @*@Html.ActionLink("The VetShop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Our Services", "Index", "ClientService")</li>
                    <li>@Html.ActionLink("My Appointments", "Index", "Booking")</li>
                    <li>@Html.ActionLink("Login", "Index", "Login")</li>
                    <li>@Html.ActionLink("Forward Bookings", "forwardBookings", "Booking")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <address>
                <strong>VetShop Support:</strong>   <a href="mailto:Support@VetShop.com">Support@VetShop.com</a>         &copy;Lars Klingsten (13T)   <br />
            </address>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
