﻿@model MVCViewModels.BookingViewModel

@{
    ViewBag.Title = "NewBooking";
    var myM = Model;
}

<h2>NewBooking</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>NewBookingViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AnimalOwnerName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnimalOwnerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnimalOwnerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConsultationStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="ConsultStart">
                @Html.EditorFor(model => model.ConsultationStart, new { htmlAttributes = new { @class = "form-control", @id = "selectedDate" } })
                @Html.ValidationMessageFor(model => model.ConsultationStart, "", new { @class = "text-danger" })

                <p><a id="btnDatePicker" class="btn btn-default">Show Date Picker</a></p>

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Animals, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedAnimalID, new SelectList(Model.Animals, "ID", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedAnimalID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create Booking" class="btn btn-default" />
                <a class="btn btn-default" href="/booking">Cancel</a>
            </div>
        </div>

        @*Create table to select dates*@
        <table id="selectDatesTable" border="1" cellpadding="0" cellspacing="0">
            <tr>
                @for (int day = 0; day < 10; day++) {
                    <th>
                        &nbsp;    @myM.dates[day, 0].ToString("ddd")   <br />
                        &nbsp;    @myM.dates[day, 0].ToString("dd MMM")  &nbsp;
                    </th>
                }
            </tr>
            @for (int timeSlot = 0; timeSlot < myM.dates.GetLength(1); timeSlot++) {
                <tr>
                    @for (int day = 0; day < 10; day++) {
                        
                        // forget about null dates
                        if (@myM.dates[day, timeSlot].Year > 2012) {
                            <td id="@myM.dates[day, timeSlot]" align="center" height="5px">
                                @myM.dates[day, timeSlot].ToString("HH:mm")
                            </td>
                        } else {
                            <td> </td>
                        }
                    }
                </tr>
            }
        </table>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>

        $("#btnDatePicker").click(function () {
            if ($('#btnDatePicker').text() == 'Show Date Picker') {
                $('#btnDatePicker').text('Hide Date Picker');
                $('#selectDatesTable').show();

            }
            else {
                $('#btnDatePicker').text('Show Date Picker');
                $('#selectDatesTable').hide();
            }
        });

        $(document).ready(function () {
            $('#selectDatesTable td').click(function (event) {

                var selectedDate = $(this).attr('id');

                if (selectedDate != null) {
                    $("#selectedDate").val(selectedDate);
                    $("#selectedDate").text(selectedDate)
                }
                else {
                    alert ('This date is not available. Please choose a different date!')
                }
                ;
            });

            $('#selectDatesTable').hide();

        });
    </script>
}