﻿@model MVCViewModels.ForwardBookingViewModel

@{     
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<hr />
<h3 class="alert-danger">Are you sure you want to delete booking?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.ConsultationStart)  </dt>
        <dd> @Html.DisplayFor(model => model.ConsultationStart) </dd>
        <dt> @Html.DisplayNameFor(model => model.AnimalName)    </dt>
        <dd> @Html.DisplayFor(model => model.AnimalName)  </dd>
        <dt> @Html.DisplayNameFor(model => model.AnimalType)  </dt>
        <dd> @Html.DisplayFor(model => model.AnimalType)  </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />  
            <a class="btn btn-default" href="/booking">Cancel</a>
        </div>
    }
</div>