﻿@model MVCViewModels.BookingViewModel

@{
    ViewBag.Title = "Edit Booking";
    var myM = Model;
}

<h1>
    Edit Booking   @Html.DisplayFor(model => model.AnimalOwnerName)
</h1>

<div id="bookingID" hidden>@myM.ID</div>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.ConsultationStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="ConsultStart">
                @Html.EditorFor(model => model.ConsultationStart, new { htmlAttributes = new { @class = "form-control", @id = "selectedDate" } })
                @Html.ValidationMessageFor(model => model.ConsultationStart, "", new { @class = "text-danger" })

                <p><a id="btnDatePicker" class="btn btn-default">Show Date Picker</a></p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Animals, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedAnimalID, new SelectList(Model.Animals, "ID", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SelectedAnimalID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <a class="btn btn-default" href="/booking">Cancel</a>
            </div>
        </div>

        <hr />

        <p>

            <div class="form-group">
                @Html.LabelFor(model => model.AvailableServices, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SelectedServiceID, new SelectList(Model.AvailableServices, "ID", "Name"), new { @class = "form-control", @id = "selectedService" })
                    @Html.ValidationMessageFor(model => model.SelectedServiceID, "", new { @class = "text-danger" })


                    <a class="btn btn-default" id="btnAddService">Add Service</a>

                </div>
            </div>
             
        </p>

        <hr />

        <div id="UpdateService">
            @Html.Partial("Services", Model.PurchasedServices)
        </div>
 
        <hr />

        <table id="selectDatesTable" border="1" cellpadding="0" cellspacing="0">
            <tr>
                @for (int day = 0; day < 10; day++) {
                    <th>
                        &nbsp;    @myM.dates[day, 0].ToString("ddd")   <br />
                        &nbsp;    @myM.dates[day, 0].ToString("dd MMM")  &nbsp;
                    </th>
                }
            </tr>
            @for (int timeSlot = 0; timeSlot < myM.dates.GetLength(1); timeSlot++) {
                <tr>
                    @for (int day = 0; day < 10; day++) {

                        // forget about null dates
                        if (@myM.dates[day, timeSlot].Year > 2012) {  
                            <td id="@myM.dates[day, timeSlot]" align="center" height="5px">
                                @myM.dates[day, timeSlot].ToString("HH:mm")
                            </td>

                        } else {
                            <td> </td>
                        }


                    }
                </tr>
            }
        </table>
    </div>
}


<div>
    @*@Html.ActionLink("Back to List", "Index")*@

    <a class="btn btn-default" href="/booking">Cancel</a>

</div>


@section Scripts {
    <script>
        function UpdateBookingTable(id) {
            $.ajax({
                url: '/Booking/Services',
                contentType: 'application/html; charset=utf-8',
                data: { ID: id },
                type: 'GET',
                dataType: 'html'
            })
           .success(function (result) {
               $('#UpdateService').html(result);
           })
           .error(function (xhr, status) {
               alert(status);
           })
        }

        function AddService(bookingID, serviceID) {
            $.ajax({
                type: "POST",
                url: '/Booking/AddService',
                data: { bookingID: bookingID, ServiceID: serviceID },
            })
               .success(function (result) {
                   

                  
               })
           .error(function (xhr, status) {
               alert(status);
           })
        }


        $("#btnAddService").click(function () {
            var serviceID = $('#selectedService').val();
            var bookingID = $('#bookingID').text();

            AddService(bookingID, serviceID);
            UpdateBookingTable(bookingID) // pull the update



        });


        $("#btnDatePicker").click(function () {
            if ($('#btnDatePicker').text() == 'Show Date Picker') {
                $('#btnDatePicker').text('Hide Date Picker');
                $('#selectDatesTable').show();

            }
            else {

                $('#btnDatePicker').text('Show Date Picker');
                $('#selectDatesTable').hide();

            }

        });


        function Delete() {
            alert('delete called');
        }





        $(document).ready(function () {
            $('#selectDatesTable td').click(function (event) {

                var selectedDate = $(this).attr('id');
                $("#selectedDate").val(selectedDate);
                $("#selectedDate").text(selectedDate);
            });

            $('#selectDatesTable').hide();

        });
    </script>
}