﻿@model IEnumerable<MVCViewModels.ForwardBookingViewModel>

@{
    ViewBag.Title = "Forward Bookings";
}

<h2>@ViewBag.Title</h2>

<table class="table" border="0">
    <tr>

        <th> @Html.DisplayNameFor(model => model.ConsultationStart) </th>
        <th> @Html.DisplayNameFor(model => model.AnimalOwnerName) </th>
        <th> @Html.DisplayNameFor(model => model.AnimalName) (@Html.DisplayNameFor(model => model.AnimalType))    </th>

        <th> @Html.DisplayNameFor(model => model.DurationForFullBooking) </th>
    </tr>

    @foreach (var item in Model) {
        <tr style=" background-color:lightblue;">
            <td> @Html.DisplayFor(modelItem => item.ConsultationStart)    </td>
            <td> @Html.DisplayFor(modelItem => item.AnimalOwnerName)  </td>
            <td> @Html.DisplayFor(modelItem => item.AnimalName) (@Html.DisplayFor(modelItem => item.AnimalType)) </td>
            <td> @Html.DisplayFor(modelItem => item.DurationForFullBooking) (mins total)   </td>
        </tr>


        foreach (var s in item.ClientServices) {

            <tr>
                <td>   </td>
                <td> @s.StartTime.ToShortTimeString()  (@s.Duration mins) </td>
                <td> @s.Name </td>
                <td>   </td>
                <td>   </td>
            </tr>
        }
         

    }

</table>
