﻿@model IEnumerable<MVCViewModels.ForwardBookingViewModel>

<h1>
    Bookings for
    @Html.DisplayFor(model => model.First().AnimalOwnerName)
</h1>


<p>
    <a class="btn btn-default" href="/booking/Create">New Appointment</a>

</p>

<table class="table">
    <tr>
        <th> @Html.DisplayNameFor(model => model.ConsultationStart) </th>
        <th> @Html.DisplayNameFor(model => model.AnimalName) </th>
        <th> @Html.DisplayNameFor(model => model.AnimalType) </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>  @Html.DisplayFor(modelItem => item.ConsultationStart) </td>
            <td>  @Html.DisplayFor(modelItem => item.AnimalName) </td>
            <td>  @Html.DisplayFor(modelItem => item.AnimalType) </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })  
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
