﻿@model IEnumerable<MVCViewModels.ServiceViewModel>

@{
    ViewBag.Title = "getServices";
    MVCViewModels.ServiceViewModel myM = Model.FirstOrDefault();
}

<table class="table">
    <tr style=" background-color: lightblue">
        <th> @Html.DisplayNameFor(model => model.Name)       </th>
        <th> @Html.DisplayNameFor(model => model.Price)     </th>
        <th> @Html.DisplayNameFor(model => model.Duration) </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>  @Html.DisplayFor(modelItem => item.Name)     </td>
            <td>  @Html.DisplayFor(modelItem => item.Price)    </td>
            <td>  @Html.DisplayFor(modelItem => item.Duration) </td>
            <td>
                @if (Model.Count() > 1) { @* -> not possible to delete a single item (as option is not shown) *@
                    @Html.ActionLink("Delete", "DeleteService", new { id = item.BookingLineID })
                } 
        </tr>
    }
</table>