﻿@model IEnumerable<MVCViewModels.ServiceViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Our Services</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </th>
        <th align="right">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration )
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.Duration )
            </td>

        </tr>
    }

</table>

<div class="col-md-4">

    <p><a class="btn btn-default" href="/booking">Book Now &raquo;</a></p>
</div>
